<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,119},{60,115}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{60,115}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
            <key>18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{62,113}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{62,113}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
            <key>18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{64,113}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{64,113}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
            <key>18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,115}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{68,115}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
            <key>18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{66,115}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{66,115}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
            <key>18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,68},{62,113}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{62,113}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
            <key>18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{58,115}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{58,115}}</string>
                <key>sourceSize</key>
                <string>{82,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_18.png</string>
            <key>size</key>
            <string>{247,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892b51633b747f0d2446f70df4a17eb0$</string>
            <key>textureFileName</key>
            <string>fish_frame_18.png</string>
        </dict>
    </dict>
</plist>
