<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{82,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{82,107}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{90,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{90,105}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{108,103}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,103}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{114,105}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{110,105}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,109},{102,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,107}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,213},{98,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{98,107}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>9_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{84,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{84,107}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_9.png</string>
            <key>size</key>
            <string>{230,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281d2627b4b47f4b30fe6108fd8345a2$</string>
            <key>textureFileName</key>
            <string>fish_frame_9.png</string>
        </dict>
    </dict>
</plist>
