<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>252_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{144,261}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,101},{144,261}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,758},{210,249}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,113},{210,249}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,716},{118,279}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,81},{118,279}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{210,361}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{210,361}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,391}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,391}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,363},{180,347}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{180,347}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,363},{176,351}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{176,351}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
            <key>252_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{190,359}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{190,359}}</string>
                <key>sourceSize</key>
                <string>{222,391}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_252.png</string>
            <key>size</key>
            <string>{574,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5925482baf5bbdb734970e1b179c65a$</string>
            <key>textureFileName</key>
            <string>fish_frame_252.png</string>
        </dict>
    </dict>
</plist>
