<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,138},{27,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,70},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>28_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_28.png</string>
            <key>size</key>
            <string>{64,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee40308d96b52b68b1eeb7b95b742351$</string>
            <key>textureFileName</key>
            <string>fish_frame_28.png</string>
        </dict>
    </dict>
</plist>
