<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,358},{175,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{175,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{175,221}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{175,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{173,221}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{173,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,221}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{179,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{177,221}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{177,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,181},{175,221}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{175,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{167,221}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{167,221}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,535},{169,219}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{169,219}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,756},{181,217}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{181,217}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
            <key>26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{171,219}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{171,219}}</string>
                <key>sourceSize</key>
                <string>{197,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_26.png</string>
            <key>size</key>
            <string>{448,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e028f091e8d38fc8ada27088be5caa2b$</string>
            <key>textureFileName</key>
            <string>fish_frame_26.png</string>
        </dict>
    </dict>
</plist>
