<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,49},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{43,78}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,49},{45,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,78}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,131},{45,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,78}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,82}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{45,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,82}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{45,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,82}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,82}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,49},{45,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,80}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{45,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,80}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,211},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{43,78}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_7.pvr.ccz</string>
            <key>size</key>
            <string>{254,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a6b1c2c9bc2bd66dc593b733778ecbf$</string>
            <key>textureFileName</key>
            <string>fish_frame_7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
