<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{100,227}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
            <key>19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,231},{100,221}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{100,221}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
            <key>19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{96,213}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{96,213}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
            <key>19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{96,209}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{96,209}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
            <key>19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,219}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{96,219}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
            <key>19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{98,225}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{98,225}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_19.png</string>
            <key>size</key>
            <string>{511,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bda89f495c521d343af890631ae2963a$</string>
            <key>textureFileName</key>
            <string>fish_frame_19.png</string>
        </dict>
    </dict>
</plist>
