<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{182,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{182,153}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,151}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{186,151}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{170,151}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{170,151}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,157},{162,149}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{162,149}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,310},{162,151}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{162,151}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{178,153}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{178,153}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_14.png</string>
            <key>size</key>
            <string>{374,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41474938b5485c95911d2296a2cf7b10$</string>
            <key>textureFileName</key>
            <string>fish_frame_14.png</string>
        </dict>
    </dict>
</plist>
