<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>39_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{66,102}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,102}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>39_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,112},{46,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>39_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,108}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{58,108}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>39_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{64,104}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{64,104}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>39_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{52,108}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{52,108}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>39_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,70},{60,102}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{60,102}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_39.png</string>
            <key>size</key>
            <string>{232,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857daca2803a1ee6f29a5ac7cd409178$</string>
            <key>textureFileName</key>
            <string>fish_frame_39.png</string>
        </dict>
    </dict>
</plist>
