<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{26,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{26,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,65},{26,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{26,59}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,65},{26,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{26,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,59}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
            <key>29_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,65},{26,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,59}}</string>
                <key>sourceSize</key>
                <string>{26,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_29.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17cce7d841b26f7ce07b57a1731b3eeb$</string>
            <key>textureFileName</key>
            <string>fish_frame_29.png</string>
        </dict>
    </dict>
</plist>
