<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>62_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,196},{47,109}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,32},{47,109}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{49,111}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{49,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,111}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{49,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,102},{47,111}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{47,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,151},{43,111}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{43,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,115},{43,111}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{43,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,115},{43,111}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{43,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,53},{47,111}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{47,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{49,111}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{49,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
            <key>62_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,111}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{49,111}}</string>
                <key>sourceSize</key>
                <string>{61,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_62.png</string>
            <key>size</key>
            <string>{256,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47ad75acd5f51f2129b65e07236677b1$</string>
            <key>textureFileName</key>
            <string>fish_frame_62.png</string>
        </dict>
    </dict>
</plist>
