<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>244_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{192,342}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{192,342}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,388},{178,322}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{178,322}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,206},{180,334}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,44},{180,334}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,356},{196,350}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,28},{196,350}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{216,378}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{216,378}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,378}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,378}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,382},{204,356}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{204,356}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{202,336}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,43},{202,336}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,740},{206,338}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,40},{206,338}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{214,352}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{214,352}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
            <key>244_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{214,364}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{214,364}}</string>
                <key>sourceSize</key>
                <string>{262,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_244.png</string>
            <key>size</key>
            <string>{998,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5de80e8b141dc066d84571cd4e64186$</string>
            <key>textureFileName</key>
            <string>fish_frame_244.png</string>
        </dict>
    </dict>
</plist>
