<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{39,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{39,65}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{39,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,63}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{37,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,63}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{39,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,65}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,69},{39,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,63}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,67}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_3.png</string>
            <key>size</key>
            <string>{112,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73afeb6520ae9883698f1f140555b4bb$</string>
            <key>textureFileName</key>
            <string>fish_frame_3.png</string>
        </dict>
    </dict>
</plist>
