<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>224_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,448},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,444}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>224_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,444}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>224_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,444}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>224_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,444}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_224.png</string>
            <key>size</key>
            <string>{894,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86bee8937dd6f0abd754c03bb48fc1d6$</string>
            <key>textureFileName</key>
            <string>fish_frame_224.png</string>
        </dict>
    </dict>
</plist>
