<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>262_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,167},{225,159}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{225,159}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{225,163}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{225,163}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,328},{223,167}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,167}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,497},{219,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{219,169}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,668},{219,163}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{219,163}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{219,157}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{219,157}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{221,161}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{221,161}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{219,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{219,167}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{223,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{223,169}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>262_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,165}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{225,165}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_262.png</string>
            <key>size</key>
            <string>{456,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68e7bc0c4e200a4de89ae016590a58e7$</string>
            <key>textureFileName</key>
            <string>fish_frame_262.png</string>
        </dict>
    </dict>
</plist>
