<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,185},{86,181}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,181}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{88,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,183}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{88,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,183}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,183}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{86,183}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,183}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,181}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,181}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_15.png</string>
            <key>size</key>
            <string>{372,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d6e204e71d27cfe21a366251d7cd002$</string>
            <key>textureFileName</key>
            <string>fish_frame_15.png</string>
        </dict>
    </dict>
</plist>
