<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,175}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,175}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{68,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{68,171}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,175},{58,163}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{58,163}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{56,163}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{56,163}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{56,173}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,173}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{50,175}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,175}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_12.png</string>
            <key>size</key>
            <string>{249,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b654fa694f33f8361d8eac29f53e91b$</string>
            <key>textureFileName</key>
            <string>fish_frame_12.png</string>
        </dict>
    </dict>
</plist>
