<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>274_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,45},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,88},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,45},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>274_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_274.png</string>
            <key>size</key>
            <string>{127,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae0f0bd2ab85df4a1fd48c999b4a986$</string>
            <key>textureFileName</key>
            <string>fish_frame_274.png</string>
        </dict>
    </dict>
</plist>
