<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_anim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,153},{21,16}}</string>
                <key>offset</key>
                <string>{-27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,84},{21,16}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,125},{45,34}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,68},{45,34}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,73},{57,50}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,55},{57,50}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{69,62}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{69,62}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,168},{81,72}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,34},{81,72}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{87,78}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{87,78}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{91,84}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{89,86}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{89,86}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{85,84}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{85,84}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,90},{79,76}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{79,76}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,161},{41,42}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{41,42}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>skill_anim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,125},{27,26}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{27,26}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_ani.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d863f39050ab1a0d3f7caf711975f266$</string>
            <key>textureFileName</key>
            <string>skill_ani.png</string>
        </dict>
    </dict>
</plist>
